useDynLib(VerticalCR, .registration=TRUE)
importFrom(Rcpp, evalCpp)
importFrom(stats, contr.helmert)
importFrom(stats, pnorm)
importFrom(stats, qnorm)
importFrom(stats, sd)
importFrom(stats, stepfun)
importFrom(splines, bs)

export(th_vertical)
export(tw_updateb)
export(tw_updateg)
export(tw_updateu)
export(tw_vertical)
export(tw_verticalite2)
export(tw_verticalite3)

export(make_sum_to_zero_contrast)
export(make_cluster_indicator)
export(make_event_time_basis)
export(predict_event_time_basis)
export(fit_twocause_vertical)
export(fit_twocause_vertical_chunked)
export(extract_twocause_parameters)
export(predict_twocause_vertical)
export(loglik_twocause_vertical)
export(select_spline_df_twocause)
export(manuscript_simulate_twocause_data)
export(manuscript_true_cif_twocause)
export(manuscript_run_table_setting)
export(manuscript_run_factorial_tables)
export(manuscript_summarize_table1)
export(manuscript_summarize_table2)
